@import './fonts.scss';

// color
$color-primary: #08a88b;
$color-secondary: #023047;
$color-warning: #ffbe0b;
$color-error: #d62828;
$color-success: #55a630;

html,
body {
  padding: 0;
  margin: 0;
  color: $color-secondary;
  font-family: SFProText;
}

.clickable {
  cursor: pointer;
  transition: 0.25s;

  :hover {
    opacity: 0.75;
  }
}
